@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --yellow: #FFD700;
    --red: #DA291c;
    --blue: #006db7;
    --green: #00af4d;
    --white: #ffffff;
    --black: #000000;
}


html, body {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--yellow);
    background-image: url("website_images/mainbackground.png");
    font-family: "Rubik", serif;
    font-size: 20px;
}

#content {
    width: 100%; /*Utgangspunktet full bredde*/
    max-width: 1200px; /*Setter en begrensining på 1200px*/
    margin: 0 auto;
    background-color: var(--white);
}

header {
    width: 100%; /*Dekker hele det tilgjengelige området*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    #logo {
        width: 300px;
        display: inline-block;
        margin: 1rem;
        }

    #shoppingcart {
        border: none;
        background-color: transparent;
        margin: 1rem;
        position: relative;

        #cartcount{
            font-family: "Rubik", serif;
            font-size: 0.7rem;
            background-color: var(--red);
            color: var(--white);
            text-align: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        img{
            width: 50px;
            height: auto;
        }

        
    }
    

    nav {
        width: 100%;
        background-color: var(--red);
    }

}